@{
    ViewData["Title"] = "Błąd usuwania lotu";
}

<h3>Nie można usunąć lotu, ponieważ istnieją przypisane do niego bilety.</h3>

<a asp-action="Index" class="btn btn-secondary">Powrót do listy lotnisk</a>
