@{
    ViewData["Title"] = "Błąd edycji lotniska";
}

<h3>Nie można edytować lotniska, ponieważ istnieją przypisane do niego loty.</h3>

<a asp-action="Index" asp-controller="LotniskoIndex" class="btn btn-secondary">Powrót do listy lotnisk</a>
