@model IEnumerable<ProjektObiektowe.Models.Lotnisko>

<table class="table">
    <thead>
        <tr>
            <th>Miasto</th>
            <th>Kraj</th>
            <th>Kod</th>
            <th>Nazwa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lotnisko in Model)
        {
            <tr>
                <td>@lotnisko.Miasto</td>
                <td>@lotnisko.Kraj</td>
                <td>@lotnisko.Kod</td>
                <td>@lotnisko.Nazwa</td>
            </tr>
        }
    </tbody>
</table>
