@model MenedzerZakupuBiletow.Models.Pasazer

<h1>Potwierdź usunięcie pasażera</h1>

<p>Czy na pewno chcesz usunąć pasażera: @Model.Imie @Model.Nazwisko?</p>

@if (Model.Rezerwacje.Any())
{
    <div class="alert alert-danger" role="alert">
        Nie można usunąć pasażera, ponieważ ma przypisane rezerwacje.
    </div>
}

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </div>
</form>