@{
    ViewData["Title"] = "Błąd edycji samolotu";
}

<h3>Nie można usunąć samolotu, ponieważ istnieją przypisane do niego loty.</h3>

<a asp-action="Index" asp-controller="SamolotIndex" class="btn btn-secondary">Powrót do listy samolotów</a>
